{% extends "base.twig" %}
{% block title %}Prompt{% endblock %}
{% block body %}

	<h3 class="body-padding">{{ question["text"] }}</h3>

    <form action="/round/{{ rid }}" method="POST">
        <input id="response" name="response" type="text" class="form-control bottom-padding" placeholder="Your Response" required="" autocomplete="off">
        <p>You are {% if alien %}the alien. Your question is different from the humans.{% else %}not the alien. Your question is different from the aliens.{% endif %}</p>
        <button type="submit" class="btn btn-primary inflate">Answer Question</button>
    </form>

<script type="text/javascript">
	startGameRunningCheckThread({{ game_id }});
</script>

{% endblock %}
{% block foot %}{% endblock %}
